@import "../../assets/theme/colors";

.popOver {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: flex;
  background: $color7;
  //border: 1px solid $primary;
  border: none;
  width: 100px;
  height: 26px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;

  & > span {
    line-height: 1.43;
    width: 100%;
  }

  transition: 0.4s ease all;
}

.fadeIn {
  animation: fadeIn 200ms ease-out;
  visibility: visible;
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.object {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease all;

  & > span {
    outline: none;
  }
}

.object:hover,
.active {
  color: $color3 !important;
  opacity: 0.32;
}
