@import "../../../assets/theme/colors";

.footer {
  width: 88%;
  border-top: 1px solid $color3;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  &Choice {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }

  &Confirm {
    margin-top: 10px;
    & > button {
      width: 100%;
    }
  }
}

.button {
  width: 100%;
  &_notActive {
    opacity: 0.32;
  }
}
