@import "../../assets/theme/colors";

.contactModal {
  max-width: 650px;
  width: 650px;
  background: $color1;
}

.form {
  position: fixed;
  z-index: 1100;
}

.control {
  display: flex;
  flex-direction: row;
  align-items: center;
  & > svg {
    &:last-child {
      margin-left: 8px;
      min-width: 22px;
      max-width: 22px;
    }
  }
}

@media screen and (max-width: 700px) {
  .contactModal {
    max-width: 470px;
  }
}

@media screen and (max-width: 450px) {
  .contactModal {
    max-width: 350px;
  }

  .control {
    & > svg {
      max-width: 16px !important;
      min-width: 16px !important;
    }
  }
}
