@import "../../assets/theme/colors";

.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.input {
  font-family: "FuturaBookC", serif;
  margin-top: 2px;
  &:disabled {
    cursor: not-allowed;
  }
}

.labelBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.labelError {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  & > span:first-child {
    margin-right: 2px;
  }
  color: $primary;
}

.labelSuffix {
  height: 13px;
  transition: 0.2s ease all;
}
