@import "../../assets/theme/colors";
@import "../../assets/theme/fonts";

.button {
  font-family: "FuturaBookC", serif;
  .suffixIcon,
  .prefixIcon {
    display: inline-flex;
  }

  .prefixIcon {
    margin-right: 6px;
  }

  .suffixIcon {
    margin-left: 6px;
  }

  &:global(.ant-btn-sm) {
    line-height: 1;
  }

  &:global(.ant-btn) {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:active {
      color: $primary;
      border-color: $primary;
    }
  }

  &:global(.ant-btn-link) {
    padding: 0;
    border: none;

    &:hover {
      border-color: transparent;
    }

    &:global(.ant-btn-block) {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 450px) {
  .button {
    width: 70px;
    height: 25px;
    font-size: 12px;
  }
}
