@import "../../../../../assets/theme/colors";

.deleteIcon {
  color: $color5;
  margin-left: 15px;
  font-size: 24px;
  cursor: pointer;
  transition: 0.4s ease all;
}

.deleteIcon:hover {
  color: $primary;
}
