@import "../../../../../assets/theme/colors";

.component {
  & > label > span {
    display: flex;
    align-items: center;
    color: $primary;
    cursor: pointer;
  }
}

.listWrapper {
  min-height: 44px;
  position: absolute;
  left: 0;
  top: calc(100% + 5px);
  width: calc(100% - 2px);
  height: auto;
  background: $color1;
  border: 1px solid $color3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activeEdit {
  & > span > * {
    color: $color3;
  }
}

.list {
  list-style: none;
  margin-top: 4px;
  margin-bottom: 8px;
  height: 50px;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.listItem {
  margin-right: 5px;
  margin-top: 4px;
  color: $color1;
  padding: 2px 8px;
  line-height: 1.43;

  display: flex;
  align-items: center;
  justify-content: space-between;

  & > span {
    margin-top: 2px;
  }
}

.icon {
  margin-left: 4px;
  width: 15px;
  cursor: pointer;
}

.addGroup {
  background: $color3;
  & > .icon {
    transform: rotate(225deg);
  }
}

.removeGroup {
  background: $primary;
  display: none !important;
  visibility: hidden;
}

.settingsBox {
  display: flex;
  align-items: center;
  & > span {
    fill: $primary;
    color: $primary;
    font-size: 15px;
    min-width: 15px;
    margin-right: 8px;
  }
}

.button {
  fill: $primary;
  color: $primary;
  font-size: 15px;
  min-width: 15px;
  margin-right: 8px;
}

.newGroupButtons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  & > span {
    outline: none;
    color: $primary;
    font-size: 15px;
    min-width: 15px;
    cursor: pointer;
    &:first-child {
      margin-right: 4px;
      color: $primary;
    }
    &:last-child {
      color: $primary;
    }
  }
}

.newGroupPopOverWrapper {
  width: 80% !important;
  height: 14px;
  padding: 7px;
  display: flex;
  align-items: center;
  margin-top: -1px;
  border-color: $color3;
  left: 8px !important;
}

.newGroupPopOver {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -1px;

  & > input {
    outline: none;
    background: $color1;
    border: none;
    color: $primary;
    line-height: 1.43;
    &::placeholder {
      font-size: 13px;
      color: $color3;
    }
  }
}

.notActive {
  color: $color3 !important;
  cursor: not-allowed !important;
  opacity: 0.32;
}

.hidden {
  visibility: hidden;
}

@media screen and (max-width: 450px) {
  .listWrapper {
    min-height: 20px;
  }

  .list {
    height: auto;
  }

  .listItem {
    padding: 2px 4px;
    font-size: 10px;
    height: 10px;

    & > svg {
      margin-top: 1px;
      width: 9px;
    }
  }

  .settingsBox > span {
    font-size: 10px;
    margin-right: 5px;
  }

  .button {
    font-size: 10px;
    margin-right: 2px;
  }

  .newGroupPopOverWrapper {
    margin-top: 1px;
    height: 2px;
    width: 150px !important;
  }

  .newGroupPopOver {
    & > input {
      font-size: 9px;
      height: 8px;
      &::placeholder {
        font-size: 8px;
      }
    }
  }

  .newGroupButtons {
    & > span {
      font-size: 10px;
    }
  }
}
