@import "../../../../../assets/theme/colors";

.control {
  display: flex;
  flex-direction: row;
  align-items: center;
  & > svg {
    min-width: 22px;
    max-width: 22px;
    cursor: pointer;
    margin-left: 8px;
  }
}
@media screen and (max-width: 450px) {
  .control {
    & > svg {
      min-width: 16px;
      max-width: 16px;
    }
  }
}
