@import "../../assets/theme/colors";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: fixed;
  bottom: 5px;
  right: 5px;
  max-width: 78px;
  width: 78px;
  height: 78px;
  max-height: 78px;
  background: $color1;
}

.button {
  max-width: 64px;
  height: 64px;
  cursor: pointer;
  fill: $color3;

  &:hover,
  &_active {
    fill: $color6;
    transition: 0.4s ease all;
  }

  &_active {
    fill: $color6;
    &:hover {
      fill: $color3;
    }
  }
}

@media screen and (max-width: 750px) {
  .wrapper {
    max-width: 52px;
    max-height: 52px;
    width: 52px;
    height: 52px;
  }
  .button {
    max-width: 40px;
    max-height: 40px;
  }
}

@media screen and (max-width: 450px) {
  .wrapper {
    max-width: 32px;
    max-height: 32px;
    width: 32px;
    height: 32px;
  }
  .button {
    max-width: 24px;
    max-height: 24px;
  }
}
