@import "../../../../assets/theme/colors";
@import "../../../../assets/theme/fonts";

.contactsPlaceHeader {
  font-family: "FuturaBookC", monospace;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 5px;
  width: calc(100% - 25px);
  background: $color3;
  box-shadow: 0 2px 2px $color1;
  color: $color4;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & > span {
    text-shadow: 1px 1px $primary;
    &:first-child {
      margin-left: 20px;
    }
    &:last-child {
      margin-right: 20px;
    }
  }

  & > .fixedSpan {
    width: 250px;
    text-align: right;
  }

  & > .pointer {
    cursor: pointer;
  }
}

.fixedListItem {
  border: none;
  padding-left: 10px;
}

.showAllContactsButton {
  outline: none;
  cursor: pointer;
  color: $color4;
  transition: 0.2s ease all;
  &_notActive {
    opacity: 0.2;
  }
}

@media screen and (max-width: 700px) {
  .contactsPlaceHeader {
    font-size: 13px;

    & > span {
      &:first-child,
      &:last-child {
        margin: 0;
      }
    }

    & > .fixedSpan {
      max-width: 135px;
    }
  }
}

@media screen and (max-width: 450px) {
  .contactsPlaceHeader {
    font-size: 9px;

    & > .fixedSpan {
      max-width: 100px;
    }
  }
}
