@import "../../../../../../assets/theme/colors";

.contactBoxInfo {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: flex-start;

  &>span {
    text-decoration: underline;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 1px 0 1px $color3;
    color: $color4;
  }

  &>span:hover {
    text-shadow: 1px 0 1px $color5;
  }
}