@import "../../assets/theme/colors";

.avatarSelectorModal {
  width: 650px;
  max-height: 800px;
  background: $color1;
}

@media screen and (max-width: 450px) {
  .avatarSelectorModal {
    width: 300px;
  }
}