@import "../../../../assets/theme/colors";

.contactBox {
  margin-top: 10px;
  width: 200px;
  height: 75px;
  border: 2px solid $color4;
  box-shadow: 0 1px 3px $color1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  cursor: pointer;
}

.contactBox:hover {
  box-shadow: 0 1px 3px $color3;
}

.avatar {

}