@import "../../../assets/theme/colors";
@import "../../../assets/mixins/_helpers";

.groupsEditing {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  text-align: center;
  &_eye {
    display: flex;
    align-items: center;
    margin-left: 8px;
    transition: 0.2s ease all;
    outline: none;
    font-size: 15px !important;

    &_notActive {
      opacity: 0.32;
      cursor: not-allowed !important;
    }
  }
}

.groupsDisplayingTipWrapper {
  height: 80px;
  width: 250px;
  z-index: 2000;
}

.groupsDisplayingTip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;

  & > span {
    color: $color4;
    max-height: 20px;
    text-align: left;
    padding: 0 0 0 2px !important;
    margin: 5px auto 0 auto;
    display: block;
    max-width: 170px;
    min-width: 170px;
    height: 17px;
    font-size: 12px !important;
    &:first-child {
      margin-top: 0;
    }
  }
}

.columnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.groupsList {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  height: 140px;
  overflow: hidden scroll;
}

.groupsListItem {
  width: 182px;
  display: flex;
  justify-content: space-between;
  color: $color4;
  margin-bottom: 10px;
  padding: 5px;
  align-items: center;
  height: 22px;

  &:nth-child(1) {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: $color1;
  }

  &_name {
    @include wordBreaker;
    padding: 2px 8px;
    background: $color3;
    cursor: pointer;
    max-width: 140px;

    &_active {
      background: $primary;
    }

    &_notActive {
      background: $color3;
      opacity: 0.32;
    }
  }

  .findGroup {
    border: 1px solid $primary;

    width: 138px;
    outline: none;
    background: $color1;
    font-family: "FuturaBookC", serif;
    font-size: 15px;
    &::placeholder {
      color: $primary;
    }
    height: 16px;
    color: $primary;
    caret-color: $primary;
  }
}

.button {
  fill: $primary;
  color: $primary;
  font-size: 15px;
  min-width: 15px;
  max-width: 15px;
  margin-bottom: 10px;
  outline: none;
  transition: 0.2s ease-in all;
  cursor: pointer;

  &_notActive {
    color: $color3 !important;
    fill: $color3 !important;
    opacity: 0.32;
    outline: none;
    cursor: not-allowed !important;
  }

  &:hover {
    color: $color3;
    fill: $color3;
    opacity: 0.32;
  }
}

.invertedButton {
  fill: $primary;
  color: $primary;
  outline: none;
  transition: 0.2s ease-in all;

  &_notActive {
    fill: $color3 !important;
    color: $color3 !important;
    outline: none;
    transition: 0.2s ease-in all;

    &:hover {
      fill: $primary !important;
      color: $primary !important;
      opacity: 0.32;
    }
  }

  &:hover {
    fill: $color3;
    color: $color3;
    opacity: 0.32;
  }
}

.deletePopOver {
  z-index: 2500;
  padding: 5px 0 5px 0;
}

.groupToEditContainer {
  margin-top: 15px;
  color: $color4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  &::before {
    border-left: 1px solid $primary;
    width: 1px;
    height: 100%;
    content: "";
    position: absolute;
  }

  .groupToEditNameWrapper {
    padding: 5px 0 5px 5px;
    height: 22px;
    display: flex;
    & > .groupToEditName {
      @include wordBreaker;
      max-width: 140px;
      padding: 2px 8px;
      background: $color3;
      font-size: 15px;
      border: none;
      outline: none;
      font-family: "FuturaBookC", serif;
      transition: 0.2s ease-in all;

      &:disabled,
      &::placeholder {
        color: $color4;
      }

      &_active {
        background: $primary;
      }

      &_notActive {
        background: $color3;
        opacity: 0.32;
      }
    }
  }
}

.controlButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;

  & > .button,
  .invertedButton,
  .invertedButton_notActive,
  .button_notActive {
    margin-bottom: 10px;
    padding: 5px 0 5px 0;
    outline: none;
  }
}

.renameControls {
  & > span {
    padding: 5px 0 5px 0;
  }

  & > span:first-child:not(:only-child) {
    margin-right: 8px;
  }
}

@media screen and (max-width: 450px) {
  .groupsListItem,
  .groupToEditNameWrapper {
    width: 120px;
    font-size: 10px;
    height: auto;

    &_name,
    .groupToEditName {
      font-size: 10px !important;
      max-width: 100px;
      padding: 2px 4px !important;
      height: 12px;
    }

    .groupToEditName {
      margin-left: auto;
    }
  }

  .groupToEditNameWrapper {
    padding: 0 !important;

    .findGroup {
      height: 10px;
    }
  }

  .button {
    max-width: 10px;
    font-size: 10px;
    min-width: 10px;
  }

  .settingsBox > span {
    max-width: 10px;
    font-size: 10px;
    min-width: 10px;
    margin-right: 5px;
  }

  .button,
  .invertedButton,
  .invertedButton_notActive,
  .button_notActive {
    max-width: 10px;
    font-size: 10px;
    min-width: 10px;
  }

  .noEditableGroups {
    font-size: 10px;
    margin-top: 5px;
  }

  .renameControls {
    & > span {
      padding: 2px 0 2px 0 !important;
    }

    & > span:first-child:not(:only-child) {
      margin-right: 4px;
    }
  }
}
