@import "../../../assets/theme/colors";

.groupsEditing {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  text-align: center;
  &_eye {
    margin-left: 8px;
    transition: 0.2s ease all;

    &_notActive {
      opacity: 0.32;
    }
  }
}

.groupsDisplayingTipWrapper {
  height: 80px;
  width: 250px;
  z-index: 2000;
}

.groupsDisplayingTip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;

  & > span {
    color: $color4;
    max-height: 20px;
    text-align: left;
    padding: 0 0 0 2px;
    margin: 5px auto 0 auto;
    display: block;
    max-width: 170px;
    min-width: 170px;
    &:first-child {
      margin-top: 0;
    }
  }
}

.columnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.groupsList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  height: 140px;
  overflow: hidden scroll;
}

.groupsListItem {
  width: 182px;
  display: flex;
  justify-content: space-between;
  color: $color4;
  margin-bottom: 10px;
  padding: 5px;
  align-items: center;
  height: 22px;

  &_name {
    padding: 2px 8px;
    background: $color3;
    width: 140px;
    cursor: pointer;

    &_active {
      background: $primary;
    }

    &_notActive {
      background: $color3;
      opacity: 0.32;
    }
  }
}

.settingsBox {
  display: flex;
  align-items: center;
  & > span {
    font-size: 15px;
    min-width: 15px;
    margin-right: 4px;
    &:last-child {
      margin: 0;
    }
  }
}

.button {
  fill: $primary;
  color: $primary;
  font-size: 15px;
  min-width: 15px;
  max-width: 15px;
  margin-bottom: 10px;
  outline: none;
  transition: 0.2s ease-in all;
  cursor: pointer;

  &_notActive {
    color: $color3 !important;
    fill: $color3 !important;
    opacity: 0.32;
    outline: none;
    cursor: not-allowed !important;
  }

  &:hover {
    color: $color3;
    fill: $color3;
    opacity: 0.32;
  }
}

.invertedButton {
  fill: $primary;
  color: $primary;
  outline: none;
  transition: 0.2s ease-in all;

  &_notActive {
    fill: $color3 !important;
    color: $color3 !important;
    outline: none;
    transition: 0.2s ease-in all;

    &:hover {
      fill: $primary !important;
      color: $primary !important;
      opacity: 0.32;
    }
  }

  &:hover {
    fill: $color3;
    color: $color3;
    opacity: 0.32;
  }
}

.input {
  width: 95px;
  outline: none;
  border: none;
  background-color: $color1 !important;
  color: $primary;

  &::placeholder {
    transition: all 0.4s ease;
    color: $color3;
  }
}

.deletePopOver {
  z-index: 2500;
  padding: 5px 0 5px 0;
}

.noEditableGroups {
  display: flex;
  align-items: center;
  color: $color3;
  font-size: 15px;
  margin-top: 10px;
}

.groupToEditContainer {
  margin-top: 15px;
  color: $color4;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .groupToEditNameWrapper {
    padding: 5px 0 5px 5px;
    height: 22px;
    display: flex;
    & > .groupToEditName {
      padding: 2px 8px;
      background: $color3;
      width: 140px;
      font-size: 15px;
      text-align: right;
      border: none;
      outline: none;
      font-family: "FuturaBookC", serif;
      transition: 0.2s ease-in all;

      &:disabled,
      &::placeholder {
        color: $color4;
      }

      &_active {
        background: $primary;
      }

      &_notActive {
        background: $color3;
        opacity: 0.32;
      }
    }
  }
}

.controlButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;

  & > .button,
  .invertedButton,
  .invertedButton_notActive,
  .button_notActive {
    margin-bottom: 10px;
    padding: 5px 0 5px 0;
    outline: none;
  }
}

.renameControls {
  & > span {
    padding: 5px 0 5px 0;
  }

  & > span:first-child:not(:only-child) {
    margin-right: 8px;
  }
}

@media screen and (max-width: 450px) {
  .groupsListItem {
    width: 120px;

    &_name {
      font-size: 10px;
      max-width: 100px;
      padding: 2px 4px;
    }
  }

  .button {
    max-width: 10px;
    font-size: 10px;
    min-width: 10px;
  }

  .settingsBox > span {
    max-width: 10px;
    font-size: 10px;
    min-width: 10px;
    margin-right: 5px;
  }

  .input {
    width: 60px;
    font-size: 10px;
  }

  .noEditableGroups {
    font-size: 10px;
    margin-top: 5px;
  }
}
