@import "../../../assets/theme/colors";

.displayedGroups {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.displayedGroupsTipWrapper {
  height: 80px;
  width: 250px;
  z-index: 2000;
}

.displayedGroupsTip {
  display: flex;
  flex-direction: column;

  & > span {
    color: $color4;
    max-height: 20px;
    text-align: left;
    padding: 0 0 0 2px;
    margin: 5px 0 0 0;
    display: block;
    max-width: 170px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.listWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow: auto;
  padding: 0;
  height: 40px;
  margin-top: 15px;
  width: 80%;
}

.listItem {
  display: flex;
  background: $color3;
  color: $color4;
  padding: 2px 8px;
  margin-right: 5px;
  line-height: 1.43;
  align-items: center;
  max-height: 20px;
  transition: 0.2s ease-in all;

  &_active {
    background: $primary;
  }

  &_notActive {
    background: $color3;
    opacity: 0.32;
  }
}

.showAllGroups {
  margin-top: 15px;
  padding: 2px 8px;
  max-height: 20px;
  color: $color4;
  background: $color3;
  line-height: 1.43;
  cursor: pointer;
  transition: 0.4s ease-in all;

  &_notActive {
    background: $color3;
    opacity: 0.32;
    cursor: not-allowed;
  }
}
