.form {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.avatarBox {
  width: 120px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 110px;
  & > svg {
    width: 110px;
    max-height: 110px;
  }
}

@media screen and (max-width: 450px) {
  .avatarBox {
    width: 70px;
    height: 90px;
    font-size: 65px;

    & > svg {
      width: 65px;
      height: 65px;
    }
  }
}