.form {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.avatarBox {
  width: 120px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 110px;
  & > svg {
    width: 110px;
    max-height: 110px;
  }
}
