@import "../../assets/theme/colors";

.defaultAvatar {
  color: $color4;
}

.defaultSize {
  font-size: 128px;
}

.smallSize {
  font-size: 32px;
}

.defaultCustomSize {
  & > svg {
    width: 100px;
    height: 100px;
  }
}

.smallCustomSize {
  & > svg {
    width: 32px;
    height: 32px;
  }
}
