@import "../../../../assets/theme/colors";

.addPersonButton {
  margin-left: 15px;
  font-size: 48px;
  max-width: 48px;
  color: $color5;
  transition: all 0.2s ease;
  cursor: pointer;
}

.addPersonButton:active {
  transition: all 0.4s ease;
  transform: rotate(90deg);
}

@media screen and (max-width: 450px) {
  .addPersonButton {
    max-width: 32px;
    font-size: 32px;
  }
}
